
# For now ignore the folder /attachments/ becuase it contains a lot of images that I don't need to version ...
# IMPORTANT: when making a website, these images will need to be tracked!
# attachments

# Avoid clutter commits (this file changes every time I click something)
.obsidian/workspace.json

# Classic ... ignore any folder named "ignore" or "old" and their contents
**/ignore/
**/old/
**/OLD/
**/Ignore/
**/OLD_*/